@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@300;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@500&family=Montserrat:wght@300;400;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@500&family=Montserrat:wght@300;400;800&family=Open+Sans:wght@500;700&display=swap");

.Nav {
  font-family: "Homemade Apple", cursive;
}

.Nav1 {
  font-family: "Encode Sans Semi Condensed", sans-serif;
}


.name {
  font-family: "Encode Sans Semi Condensed", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

